
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-3">
            
        </div>
    </div>

</div>
</body>
</html>
